after-startup-command = []
# exec-on-workspace-change = ['/bin/bash', '-c',
#     'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE PREV_WORKSPACE=$AEROSPACE_PREV_WORKSPACE'
# ]

start-at-login = false

enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

accordion-padding = 30

default-root-container-layout = 'tiles'

default-root-container-orientation = 'auto'

on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

automatically-unhide-macos-hidden-apps = false

[key-mapping]
    preset = 'qwerty'

[gaps]
    inner.horizontal = 8
    inner.vertical =   8
    outer.left =       8
    outer.bottom =     8
    outer.top =        8
    outer.right =      8

[mode.main.binding]

    alt-slash = 'layout tiles horizontal vertical'
    alt-comma = 'layout accordion horizontal vertical'

    ctrl-shift-left = 'focus left'
    ctrl-shift-down = 'focus down'
    ctrl-shift-up = 'focus up'
    ctrl-shift-right = 'focus right'

    cmd-shift-left = 'move left'
    cmd-shift-down = 'move down'
    cmd-shift-up = 'move up'
    cmd-shift-right = 'move right'

    alt-minus = 'resize smart -50'
    alt-equal = 'resize smart +50'

    alt-1 = 'workspace 1'
    alt-2 = 'workspace 2'
    alt-3 = 'workspace 3'
    alt-4 = 'workspace 4'
    alt-5 = 'workspace 5'
    alt-6 = 'workspace 6'
    alt-7 = 'workspace 7'
    alt-8 = 'workspace 8'
    alt-9 = 'workspace 9'
    alt-0 = 'workspace 0'

    alt-shift-1 = 'move-node-to-workspace 1'
    alt-shift-2 = 'move-node-to-workspace 2'
    alt-shift-3 = 'move-node-to-workspace 3'
    alt-shift-4 = 'move-node-to-workspace 4'
    alt-shift-5 = 'move-node-to-workspace 5'
    alt-shift-6 = 'move-node-to-workspace 6'
    alt-shift-7 = 'move-node-to-workspace 7'
    alt-shift-8 = 'move-node-to-workspace 8'
    alt-shift-9 = 'move-node-to-workspace 9'
    alt-shift-0 = 'move-node-to-workspace 0'

    alt-tab = 'workspace-back-and-forth'
    alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'
    alt-shift-semicolon = 'mode service'

[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main'] # reset layout
    f = ['layout floating tiling', 'mode main'] # Toggle between floating and tiling layout
    backspace = ['close-all-windows-but-current', 'mode main']

    ctrl-shift-left = ['join-with left', 'mode main']
    ctrl-shift-down = ['join-with down', 'mode main']
    ctrl-shift-up = ['join-with up', 'mode main']
    ctrl-shift-right = ['join-with right', 'mode main']

    down = 'volume down'
    up = 'volume up'
    shift-down = ['volume set 0', 'mode main']

# [[on-window-detected]]
#     if.app-id = 'com.mitchellh.ghostty'
#     run = 'move-node-to-workspace 1'

# if.app-id = 'app.zen-browser.zen'
# if.app-id = 'org.mozilla.firefox'
# if.app-id = 'com.tinyspeck.slackmacgap'
# if.app-id = 'com.google.Chrome'
# if.app-id = 'ru.keepcoder.Telegram'
# if.app-id = 'com.mitchellh.ghostty'
# if.app-id = 'md.obsidian'
# if.app-id = 'com.jetbrains.pycharm'
# if.app-id = 'com.openai.chat'
# if.app-id = 'com.jonny.mona'
# if.app-id = 'com.apple.Safari'

[workspace-to-monitor-force-assignment]
  1 = 'secondary'
  2 = 'secondary'
  3 = 'secondary'
  4 = 'secondary'
  5 = 'secondary'
  6 = 'main'
  7 = 'main'
  8 = 'main'
  9 = 'main'
  0 = 'main'
