layout {
    background-color "transparent"

    focus-ring {
        active-color   "#070d1b"
        inactive-color "#76777d"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#070d1b"
        inactive-color "#76777d"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#070d1b"
        inactive-color "#76777d"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#070d1b80"
    }
}

recent-windows {
    highlight {
        active-color   "#1d2332"
        urgent-color   "#ba1a1a"
    }
}