layout {
    cwd "$HOME/Workspace/pace-systems"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab cwd="pacescheduler" {
        pane split_direction="vertical" {
            pane name="editor" size="70%" {
                command "devbox"
                args "shell"
            }
            pane size="30%" split_direction="horizontal" {
                pane name="runserver" {
                    command "devbox"
                    args "shell"
                }
                pane name="npm" {
                    command "devbox"
                    args "shell"
                }
            }
        }
    }
    tab {
        pane split_direction="vertical" {
            pane name="git" cwd="pacescheduler" command="lazygit"
            pane name="db" {
                command "docker"
                args "compose" "up" "-d"
            }
        }
    }
}
